*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: white;
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  -webkit-box-shadow: 0px 0px 5px #ebebeb;
  box-shadow: 0px 0px 5px #ebebeb;
  overflow: hidden scroll;
  font-family: "Poppins", sans-serif;
}
body .MenuDesplegable {
  width: 90%;
  height: 300px;
  position: absolute;
  background: rgba(50, 24, 77, 0.966);
  left: 5%;
  top: -300px;
  z-index: 80;
  border-radius: 10px;
  border: 1px solid #706f6f;
  -webkit-box-shadow: 0px 0px 5px #707070;
  box-shadow: 0px 0px 5px #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: top 1s;
}
@media screen and (min-width: 830px) {
  body .MenuDesplegable {
    display: none;
  }
}
body .MenuDesplegable nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  margin: auto;
}
body .MenuDesplegable nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
body .MenuDesplegable nav ul li {
  padding: 10px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
body .MenuDesplegable nav ul li a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
body .MenuDesplegable nav ul li a:hover {
  color: #c4c3c3;
  font-size: 21px;
}
body .MenuDesplegable nav ul li .btn2 {
  background: #2cd1d1;
  padding: 5px 80px;
  border-radius: 20px;
}
body .MenuDesplegable nav ul li .btn2:hover {
  color: white;
}
body .MenuDesplegable .linea {
  background: #aaaaaa;
  width: 90%;
  height: 1px;
  margin: auto;
}
body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.5% 0px;
  background: white;
  position: relative;
  z-index: 100;
}
body header .int-header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 5%;
}
body header .int-header1 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 30px;
}
body header .int-header1 .logo img {
  width: 100%;
}
body header .int-header1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media screen and (max-width: 830px) {
  body header .int-header1 ul {
    display: none;
  }
}
body header .int-header1 ul li {
  margin: 0px 5px;
}
body header .int-header1 ul li a {
  color: #313131;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
}
body header .int-header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5%;
}
@media screen and (max-width: 830px) {
  body header .int-header2 {
    display: none;
  }
}
body header .int-header2 .a1 {
  color: #2e2e2e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-right: 8px;
}
body header .int-header2 .a2 {
  background: #2cd1d1;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 4% 15px;
  border-radius: 20px;
  border: 1px solid #e9e8e8;
}
body header .int-header2 .a2:hover {
  background: #2ad0d0ad;
}
body header .menu {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 31;
}
@media screen and (min-width: 830px) {
  body header .menu {
    display: none;
  }
}
body header .menu .line {
  margin: auto;
  width: 28px;
  height: 5px;
  background: gray;
  margin-bottom: 5px;
  border-radius: 5px;
}
body header .menu-desplegable {
  width: 100%;
  height: 100%;
  background: rgba(73, 4, 151, 0.822);
  top: 0;
  right: -1000px;
  z-index: 30;
  position: fixed;
}
@media screen and (min-width: 830px) {
  body header .menu-desplegable {
    display: none;
  }
}
body main {
  width: 100%;
  position: relative;
  background: #fdfdfd3a;
  overflow: hidden;
}
body main .int-main1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 7%;
}
@media screen and (max-width: 830px) {
  body main .int-main1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
body main .int-main1 .sub-int-main1 {
  width: 50%;
  padding: 3% 0;
}
@media screen and (max-width: 830px) {
  body main .int-main1 .sub-int-main1 {
    width: 100%;
  }
}
body main .int-main1 .sub-int-main1 h1 {
  color: #292929;

  font-weight: 700;
  font-size: 50px;
  padding-left: 8%;
  line-height: 60px;
  padding-bottom: 3%;
}
@media screen and (max-width: 830px) {
  body main .int-main1 .sub-int-main1 h1 {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    padding: 0;
    margin: 10px 0;
  }
}
body main .int-main1 .sub-int-main1 p {
  font-size: 16px;
  font-weight: normal;
  color: #555252;
  padding-left: 8%;
  padding-bottom: 4%;
}
@media screen and (max-width: 830px) {
  body main .int-main1 .sub-int-main1 p {
    text-align: center;
    font-size: 13px;
    padding: 0;
    margin: 15px 0;
  }
}
@media screen and (max-width: 830px) {
  body main .int-main1 .sub-int-main1 .boton {
    width: 50%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
body main .int-main1 .sub-int-main1 .boton a {
  color: white;
  background: #2cd1d1;

  font-weight: bold;
  font-size: 14px;
  margin-left: 8%;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
}
@media screen and (max-width: 830px) {
  body main .int-main1 .sub-int-main1 .boton a {
    padding: 8px 20%;
  }
}
body main .int-main1 .sub-int-main1 .boton a:hover {
  background: #2ad0d0ad;
}
body main .int-main1 .sub-int-main2 {
  width: 50%;
}
@media screen and (max-width: 830px) {
  body main .int-main1 .sub-int-main2 {
    width: 90%;
    margin: auto;
  }
}
body main .int-main1 .sub-int-main2 img {
  width: 100%;
}
body main .int-main2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 80%;
  margin: 3% auto;
  position: relative;
}
body main .int-main2 .sub-int-main2-1 {
  background: #4b406b;
  border-radius: 3px;
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 830px) {
  body main .int-main2 .sub-int-main2-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
body main .int-main2 .sub-int-main2-1 input {
  width: 80%;
  margin: 1% 2%;
  padding: 1% 1%;
  border-radius: 3px;

  font-size: 15px;
  font-weight: bold;
  border: none;
  background: #f5f5f5;
}
@media screen and (max-width: 830px) {
  body main .int-main2 .sub-int-main2-1 input {
    display: block;
    width: 90%;
  }
}
body main .int-main2 .sub-int-main2-1 .link {
  color: #f8f8f8;
  background: #2cd1d1;
  border-radius: 5px;
  font-size: 12px;

  display: block;
  padding: 1.2% 1%;
  font-weight: bold;
  width: 10%;
  text-align: center;
  margin-right: 2%;
  cursor: pointer;
}
@media screen and (max-width: 830px) {
  body main .int-main2 .sub-int-main2-1 .link {
    width: 90%;
    display: block;
    text-align: center;
    margin: 3px auto 10px auto;
  }
}
body main .int-main2 .sub-int-main2-1 .link:hover {
  background: #2ad0d0ad;
}
body main .int-main2 .sub-int-main2-1 p {
  color: white;

  padding-left: 2%;
  font-size: 12px;
  margin-top: -3px;
  padding-bottom: 5px;
  display: none;
}
@media screen and (max-width: 830px) {
  body main .int-main2 .sub-int-main2-1 p {
    display: none;
  }
}
body main .int-main2 .fondo {
  width: 130%;
  height: 100vh;
  background: #eff1f7;
  position: absolute;
  left: -15%;
  top: 40px;
  z-index: -1;
}
body main .int-main2 .sub-int-main2-2 {
  margin-top: 2%;
  padding: 5px 5px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  display: none;
}

body main .int-main2 .sub-int-main2-2 > input {
  font-size: 13px;
  background: #f5f5f5;
  border: 1px solid #ececec;
  border-radius: 3px;
  padding: 5px 0px;
  margin: 0px 5px;
}

body main .int-main2 .sub-int-main2-2 .inp1 {
  width: 49%;
}

body main .int-main2 .sub-int-main2-2 .inp2 {
  width: 34%;
}

@media screen and (max-width: 830px) {
  body main .int-main2 .sub-int-main2-2 .inp1 {
    width: 40%;
  }
}

@media screen and (max-width: 830px) {
  body main .int-main2 .sub-int-main2-2 .inp2 {
    width: 40%;
  }
}
body main .int-main2 .sub-int-main2-2 a {
  background: #2cd1d1;
  padding: 0.6% 3%;
  color: white;

  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  display: block;
  width: 20%;
  text-align: center;
}
body main .int-main3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4%;
}
@media screen and (max-width: 830px) {
  body main .int-main3 {
    margin: 10% auto;
  }
}
body main .int-main3 h2 {
  text-align: center;

  font-size: 30px;
}
@media screen and (max-width: 830px) {
  body main .int-main3 h2 {
    font-size: 25px;
  }
}
body main .int-main3 p {
  text-align: center;
  color: #353535;

  font-size: 15px;
}
@media screen and (max-width: 830px) {
  body main .int-main3 p {
    font-size: 13px;
    padding: 10px 20px;
  }
}
body main .int-main4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  height: auto;
  position: relative;
  margin-bottom: 2%;
}
@media screen and (max-width: 830px) {
  body main .int-main4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
body main .int-main4 .linea {
  width: 100%;
  height: 6px;
  background: #2cd1d1;
  position: absolute;
  top: 40%;
  z-index: 1;
}
@media screen and (max-width: 830px) {
  body main .int-main4 .linea {
    width: 8px;
    height: 90%;
    top: 0;
    left: 50%;
  }
}
body main .int-main4 .sub-int-main4 {
  width: 27%;
  height: 100%;
  max-width: 300px;
  padding: 5% 2% 2% 2%;
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: 0px 0px 5px #b1b1b1;
  box-shadow: 0px 0px 5px #b1b1b1;
  background: white;
  border-radius: 3px;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 830px) {
  body main .int-main4 .sub-int-main4 {
    width: 100%;
    margin: auto;
    margin-bottom: 8%;
  }
}
body main .int-main4 .sub-int-main4 img {
  position: absolute;
  width: 100%;
  max-width: 50px;
  top: -30px;
  left: 15px;
  background: #4b406b;
  border-radius: 40px;
  padding: 5px;
}
body main .int-main4 .sub-int-main4 h3 {
  text-align: left;
  font-size: 16px;
  padding-bottom: 5%;
}
@media screen and (max-width: 830px) {
  body main .int-main4 .sub-int-main4 h3 {
    margin-top: 5%;
  }
}
body main .int-main4 .sub-int-main4 p {
  font-size: 14px;
  color: #474747;
}
body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
body footer .int-footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0px;
  background-image: url("../img/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
body footer .int-footer1 .fondo {
  width: 100%;
  height: 100%;
  background: #3a3053;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
}
body footer .int-footer1 h2 {
  color: white;
  margin-bottom: 2%;
}
body footer .int-footer1 a {
  color: white;
  background: #2cd1d1;
  padding: 1% 3%;
  border-radius: 20px;
  border: none;
  font-weight: bold;

  font-size: 14px;
}
body footer .int-footer1 a:hover {
  background: #2ad0d0ad;
}
body footer .int-footer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #15022b;
}
@media screen and (max-width: 830px) {
  body footer .int-footer2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
body footer .int-footer2 .sub-int-footer2-1 {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 830px) {
  body footer .int-footer2 .sub-int-footer2-1 {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
body footer .int-footer2 .sub-int-footer2-1 img {
  width: 60%;
}
@media screen and (max-width: 830px) {
  body footer .int-footer2 .sub-int-footer2-1 img {
    width: 50%;
  }
}
body footer .int-footer2 .sub-int-footer2-2 {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 2%;
  padding: 1% 0%;
}
@media screen and (max-width: 830px) {
  body footer .int-footer2 .sub-int-footer2-2 {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
  }
}
body footer .int-footer2 .sub-int-footer2-2 h4 {
  color: white;
  padding-bottom: 20px;
  margin-top: 1%;

  font-size: 13px;
  font-weight: bold;
}
body footer .int-footer2 .sub-int-footer2-2 ul li {
  padding: 2px 0px;
}
@media screen and (max-width: 830px) {
  body footer .int-footer2 .sub-int-footer2-2 ul li {
    text-align: center;
  }
}
body footer .int-footer2 .sub-int-footer2-2 ul li a {
  color: white;
  font-size: 14px;
}
body footer .int-footer2 .sub-int-footer2-2 ul li a:hover {
  color: white;
  font-size: 15px;
}
body footer .int-footer2 .sub-int-footer2-3 {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 2%;
}
@media screen and (max-width: 830px) {
  body footer .int-footer2 .sub-int-footer2-3 {
    width: 100%;
    padding: 0;
    margin: auto;
    margin-bottom: 10px;
  }
}
body footer .int-footer2 .sub-int-footer2-3 img {
  margin-top: 2%;
  padding: 0px 3px;
  width: 20px;
}

.visible {
  display: flex;
}
